:root {

    /* default #6e00ff (search --chart color code)*/
    --chart:#ffc103;

    /* default #6e00ff */
    --customThemeColor: #eaa400;


    --defaultThemeColor: #6e00ff;
    --defaultThemHover: #5e00d9;

    /* default rgba(110, 0, 255, 0.08) */
    --menuActiveBtn: rgba(255, 174, 0, 0.08);

    /* default #5e00d9 */
    --btnPrimaryHover: #ffa600;

    /* default #5800cc */
    --btnPrimaryBorder: #ffa500;

    /* default #f0f3ff */
    --inputBackground: rgba(255, 174, 0, 0.08);
}