@media screen {
    #finvoice {
        display: none;
    }
    #finvoice.showprint {
        display: block; 
    }
}

@media print {
    /* print landscape mode */
    /* @page {size: landscape} */
    .top-header-area {
        display: none !important;
    }

    .ecaps-page-content {
        padding-top: 0;
        margin-right: 0;
    }

    .invoice {
        display: none !important; 
    }

    #finvoice.hideprint {
        display: none !important; 
    }

    #finvoice.print-active {
        display: block !important; 
    }

    body {
        background-color: #fff;
    }

    .logo {
        width: 15%;
    }

    td:nth-child(2n) {
        text-align: right;
    }

    td:nth-child(2n-1) {
        text-align: left;
    }

    .sellerspecs td,
    .sellerspecs th,
    .customerspecs td,
    .customerspecs th {
        border-top: 0;
    }

    .factortable td,
    .factortable th {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}